@model IEnumerable<QuanlyBug.Models.ProjectList>


@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

@using QuanlyBug.Models
@{
    USERS kh = (USERS)Session["TaiKhoan"];

}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->

                    <h2 class="page-title">
                        Dự án
                    </h2>
                </div>
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        @*<span class="d-none d-sm-inline">
                                <a href="#" class="btn">
                                    New view
                                </a>
                            </span>*@

                        @if (kh.Status == "admin" || kh.Status == "Product Manager")
                        {
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-createproject">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                                Tạo mới dự án
                            </a>
                        }
                        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">

                        @*<div class="card-body border-bottom py-3">
                                <div class="d-flex">
                                    <div class="text-muted">
                                        Show
                                        <div class="mx-2 d-inline-block">
                                            <input type="text" class="form-control form-control-sm" value="8" size="3" aria-label="Invoices count">
                                        </div>
                                        entries
                                    </div>
                                    <div class="ms-auto text-muted">
                                        Search:
                                        <div class="ms-2 d-inline-block">
                                            <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th class="w-1"></th>
                                        <th>Tên dự án</th>
                                        <th>Mô tả dự án</th>
                                        <th>Người tạo dự án</th>
                                        <th>Ngày tạo dự án</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select invoice"></td>
                                            <td>
                                                /
                                                <a href="@Url.Action("Index", "BUGs", new { id = item.ProjectID })" class="ms-1" aria-label="Open website">
                                                    @item.Name
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 15l6 -6"></path><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path></svg>
                                                </a>
                                            </td>
                                            <td>
                                                @item.Decription
                                            </td>
                                            <td>
                                                <span class="flag flag-country-us"></span>
                                                @item.EmailPeoCreate
                                            </td>
                                            <td>@item.DateCreate</td>
                                            <td class="text-end">

                                                <a class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-deep" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 6h16" /><path d="M7 12h13" /><path d="M10 18h10" /></svg>
                                                    </span>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="@Url.Action("Index", "BUGs", new { id = item.ProjectID })">
                                                        Xem dự án
                                                    </a>
                                                    @if (item.Role == "creater")
                                                    {
                                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-editproject-@item.ProjectID">
                                                            Cập nhật dự án
                                                        </a>
                                                        <a class="dropdown-item text-pink" href="#" data-bs-toggle="modal" data-bs-target="#modal-deleteproject-@item.ProjectID">
                                                            Xóa dự án
                                                        </a>
                                                    }

                                                </div>

                                            </td>
                                        </tr>

                                        using (Html.BeginForm("EditProject", "Home", new { id = item.ProjectID }, FormMethod.Post))
                                        {
                                            <div class="modal modal-blur fade" id="modal-editproject-@item.ProjectID" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Cập nhật dự án</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">Tên dự án</label>
                                                                <input type="text" class="form-control" name="NameProject" value="@item.Name">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Mô tả dự án</label>
                                                                <textarea class="form-control" name="DecriptionProject" rows="3" placeholder="Mô tả dự án của bạn">@item.Decription</textarea>
                                                            </div>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                                                Hủy
                                                            </a>
                                                            <button type="submit" class="btn btn-primary ms-auto">
                                                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                                Gửi
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        using (Html.BeginForm("DeleteProject", "Home", new { id = item.ProjectID }, FormMethod.Post, new { @class = "deleteForm", @novalidate = "novalidate" }))
                                        {
                                            <div class="modal modal-blur fade" id="modal-deleteproject-@item.ProjectID" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Xóa dự án</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">Tên dự án</label>
                                                                <input type="text" class="form-control" name="NameProject" value="@item.Name" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label" id="lableComfirm">Xác nhận xóa</label>
                                                                <input type="text" class="form-control" name="NameProject" oninput="updateValue(this,'@item.Name')" id="inputConfirm" required>
                                                            </div>

                                                        </div>

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                                                Hủy
                                                            </a>
                                                            <button type="submit" class="btn btn-primary ms-auto">
                                                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                                                Gửi
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }



                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer d-flex align-items-center">
                            <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                            <ul class="pagination m-0 ms-auto">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 6l-6 6l6 6" /></svg>
                                        prev
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 6l6 6l-6 6" /></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { @class = "createForm", @novalidate = "novalidate" }))
{
    <div class="modal modal-blur fade" id="modal-createproject" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo mới một dự án</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Tên dự án</label>
                        <input type="text" class="form-control" name="NameProject" id="NameProject" placeholder="Tên dự án của bạn" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả dự án</label>
                        <textarea class="form-control" name="DecriptionProject" id="DecriptionProject" rows="3" placeholder="Mô tả dự án của bạn" required></textarea>
                    </div>

                    <!--<div class="row">
                        <div class="col-lg-8">
                            <div class="mb-3">
                                <label class="form-label">Thêm người</label>
                                <div class="input-group input-group-flat">
                                    <span class="input-group-text">
                                    </span>
                                    <input type="email" class="form-control ps-0" placeholder="Nhập Email cần thêm">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <br />
                                <button type="submit" class="btn btn-action ms-auto" style="margin-top:10px">-->
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                </button>
                            </div>
                        </div>

                    </div>-->

                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Hủy
                    </a>
                    <button type="submit" class="btn btn-primary ms-auto">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Gửi
                    </button>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function updateValue(inputElement, name) {
        var value = inputElement.value;
        // Kiểm tra điều kiện và thiết lập màu sắc
        if (value === name) {
            inputElement.setCustomValidity("");
            inputElement.style.borderColor = "";
        } else {
            inputElement.setCustomValidity("This field is invalid");
            inputElement.style.borderColor = "red";
        }
    }


    (() => {
        'use strict'
        const forms = document.querySelectorAll('.deleteForm');
        const formCreatProject = document.querySelector('.createForm');


        // Gắn sự kiện click cho mỗi form
        forms.forEach(form => {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });

        formCreatProject.addEventListener('submit', function (event) {
            event.preventDefault();
            event.stopPropagation();

            // Get form fields
            var name = document.getElementById("NameProject");
            var description = document.getElementById("DecriptionProject");

            // Perform AJAX call
            $.ajax({
                url: '/Home/GetDataProject',
                type: 'GET',
                success: function (data) {
                    const checkName = data.some(element => element.Name === name.value);
                    const checkDecription = data.some(element => element.Decription === description.value);

                    if (!checkName) {
                        name.setCustomValidity('');
                    } else {
                        name.setCustomValidity("This field is invalid");
                    }

                    if (!checkDecription) {
                        description.setCustomValidity('');
                    } else {
                        description.setCustomValidity("This field is invalid");
                    }

                    // Check overall form validity
                    if (formCreatProject.checkValidity()) {
                        // If the form is valid, you can proceed with submitting the form
                        formCreatProject.submit();
                    }
                    formCreatProject.classList.add('was-validated');

                },
                error: function (errorThrown) {
                    console.log('Error:', errorThrown);
                }
            });
        }, false);

    })();

</script>