<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--

    TemplateMo 570 Chain App Dev

    https://templatemo.com/tm-570-chain-app-dev

    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="~/Assets/css/animated.css">
    <link rel="stylesheet" href="~/Assets/css/owl.css">

</head>

<body>


    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/About/Index" class="logo">
                            <img src="~/Assets/images/logo.png" alt="Chain App Dev">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                            <li class="scroll-to-section"><a href="#about">Giới thiệu</a></li>
                            <li class="scroll-to-section"><a href="#newsletter">Thông tin liên hệ</a></li>
                            <li><div class="gradient-button"><a id="modal_trigger" href="#modal"><i class="fa fa-sign-in-alt"></i> Đăng nhập</a></div></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div id="modal" class="popupContainer" style="display:none;">
        <div class="popupHeader">
            <span class="header_title">Login</span>
            <span class="modal_close"><i class="fa fa-times"></i></span>
        </div>

        <section class="popupBody">
            <!-- Social Login -->
            <div class="social_login">
                <div class="">
                    <a href="#" class="social_box fb">
                        <span class="icon"><i class="fab fa-facebook"></i></span>
                        <span class="icon_title">Facebook</span>

                    </a>

                    <a href="#" class="social_box google">
                        <span class="icon"><i class="fab fa-google-plus"></i></span>
                        <span class="icon_title">Google</span>
                    </a>
                </div>

                <div class="centeredText">
                    <span>Hoặc sử dụng Email</span>
                </div>

                <div class="action_btns">
                    <div class="one_half"><button id="login_form" class="btn">Đăng nhập</button></div>
                    <div class="one_half last"><button id="register_form" class="btn">Đăng ký</button></div>
                </div>
            </div>

            <!-- Username & Password Login form -->
            <div class="user_login">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("Login", "User", FormMethod.Post))
                {
                    <form>
                        <label>Email</label>
                        <input name="Email" type="email" />
                        <br />

                        <label>Mật khẩu</label>
                        <input name="Password" type="password" />
                        <br />

                        <div class="checkbox">
                            <input id="remember" type="checkbox" />
                            <label for="remember">Lưu mật khẩu</label>
                        </div>

                        <div class="action_btns">
                            <div class="one_half"><button class="btn back_btn"><i class="fa fa-angle-double-left"></i>Trở về</button></div>
                            <div class="one_half last"><button type="submit" class="btn btn_red">Đăng nhập</button></div>
                        </div>
                        <div>
                            @ViewData["err1"]
                            @ViewData["err2"]
                            @ViewBag.Thongbao
                        </div>
                    </form>
                }
                <a href="#" class="forgot_password">Quên mật khẩu?</a>
            </div>

            <!-- Register Form -->
            <div class="user_register">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                {
                <form>
                    <label>Họ tên</label>
                    <input name="FullName" type="text" />
                    <br />

                    <label>Email</label>
                    <input name="Email" type="email" />
                    <br />

                    <label>Chức vụ</label>
                    <select name="Priority" class="form-select">                       
                            <option selected>Quản lý</option>
                            <option selected>Nhân viên</option>
                    </select>
                    <br />

                    <label>Mật khẩu</label>
                    <input name="Password" type="password" />
                    <br />

                    <label>Nhập lại mật khẩu</label>
                    <input name="RePassword" type="password" />
                    <br />


                    @ViewData["err1"]
                    @ViewData["err2"]
                    @ViewData["err3"]
                    @ViewData["err4"]
                    @ViewData["err5"]
                    @ViewData["err6"]


                    <div class="action_btns">
                        <div class="one_half"><button class="btn back_btn"><i class="fa fa-angle-double-left"></i>Trở về</button></div>
                        <div class="one_half last"><button type="submit" class="btn btn_red">Đăng ký</button></div>
                    </div>
                </form>
                }
            </div>
        </section>
    </div>


    @RenderBody()


    <footer id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h4>Tham gia danh sách gửi thư của chúng tôi để nhận tin tức và xu hướng mới nhất</h4>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <form id="search" action="#" method="GET">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <input type="text" name="address" class="email" placeholder="Địa chỉ Email..." autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <button type="submit" class="main-button">Đăng ký ngay <i class="fa fa-angle-right"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Liên hệ với chúng tôi</h4>
                        <p>Bình Dương</p>
                        <p><a href="#">0929342783</a></p>
                        <p><a href="#">daothanh1411@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Về chúng tôi</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Liên kết hữu ích</h4>
                        <ul>
                            <li><a href="#">Free Apps</a></li>
                            <li><a href="#">App Engine</a></li>
                            <li><a href="#">Programming</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">App News</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">App Dev Team</a></li>
                            <li><a href="#">Digital Web</a></li>
                            <li><a href="#">Normal Apps</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>BUGM</h4>

                        <p>BUGM là website cung cấp môi trường giúp cho người dùng dễ dàng quản lý các vấn đề liên quan đến bug của một dự án.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>
                            Copyright © 2023 DaoVanThanh.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/owl-carousel.js"></script>
    <script src="~/Assets/js/animation.js"></script>
    <script src="~/Assets/js/imagesloaded.js"></script>
    <script src="~/Assets/js/popup.js"></script>
    <script src="~/Assets/js/custom.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
